@keyframes my-tech {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes jump {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

.myIcons {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 100%;
    max-width: 600px;
    justify-content: space-around;
    margin: 30px 0;
    flex-wrap: wrap;
}
.myFutureIcons {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-around;
    margin: 50px 0;
    flex-wrap: wrap;
}

    .theFrontIcon, .theBackIcon {
        width: 40px;
        opacity: 0;
        margin: 0 5px;
    }
    .theFutureIcon {
        width: 40px;
    }
    .theFutureIcon {
        width: 40px;
    }
        .theFutureIcon:nth-child(1) {
            animation: jump 2s infinite alternate;
        }
        .theFutureIcon:nth-child(2) {
            animation: jump 2s infinite alternate 200ms;
        }
        .theFutureIcon:nth-child(3) {
            animation: my-tech 5s infinite linear 400ms;
        }
        .theFutureIcon:nth-child(4) {
            animation: jump 2s infinite alternate 600ms;
        }
        .theFutureIcon:nth-child(5) {
            animation: jump 2s infinite alternate 800ms;
        }
        .theIcon:nth-child(5), .theIcon:nth-child(6){
            width:40px;
            animation: my-tech 4s infinite linear;
        }
        .theFrontIcon:nth-child(1) {
            animation: fadeIn 2s normal 200ms forwards, jump 2s infinite alternate;
        }
        .theFrontIcon:nth-child(2) {

            animation: fadeIn 2s normal 600ms forwards, jump 2s infinite alternate 200ms;
        }
        .theFrontIcon:nth-child(3) {
            animation: fadeIn 2s normal 1000ms forwards, jump 2s infinite alternate 400ms;
        }
        .theFrontIcon:nth-child(4) {
            animation: fadeIn 2s normal 1400ms forwards, jump 2s infinite alternate 600ms;
        }
        .theFrontIcon:nth-child(5) {
            animation: fadeIn 2s normal 1800ms forwards, my-tech 2s infinite linear;
        }
        .theFrontIcon:nth-child(6) {
            animation: fadeIn 2s normal 2200ms forwards, my-tech 2s infinite alternate;
        }
        .theFrontIcon:nth-child(7) {
            animation: fadeIn 2s normal 2600ms forwards, jump 2s infinite alternate 1200ms;
        }
        .theBackIcon:nth-child(1) {
            animation: fadeIn 2s normal 3000ms forwards, jump 2s infinite alternate 1400ms;
        }
        .theBackIcon:nth-child(2) {
            background: radial-gradient(white -10%, transparent 75%);
            animation: fadeIn 2s normal 3400ms forwards, jump 2s infinite alternate 1600ms;
        }
        .theBackIcon:nth-child(3) {
            animation: fadeIn 2s normal 3800ms forwards, jump 2s infinite alternate 1800ms;
        }
        .theBackIcon:nth-child(4) {
            animation: fadeIn 2s normal 4200ms forwards, jump 2s infinite alternate 2000ms;
        }
        .theBackIcon:nth-child(5) {
            animation: fadeIn 2s normal 4600ms forwards, jump 2s infinite alternate 2200ms;
        }

.dataBox {
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .HowardTitleEscuro {
        display: block;
        color: #C0E0DE;
        transition: .5s;
        max-width: 390px;
    }
    .HowardTitleClaro {
        display: block;
        color: #8A716A;
        transition: .5s;
        max-width: 390px;
    }
    .profilePhoto {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #C0E0DE;
        padding: 5px;
        box-shadow: 0 0 6px #C0E0DE;
        transition: .5s;
    }

    .profilePhotoClaro {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #8A716A;
        padding: 5px;
        box-shadow: 0 0 6px #8A716A;
        transition: .5s;
    }
    .geralBox {
        max-width: 374px;
        width: 80%;
        background-color: #3C474B;
        margin: 80px 10px 0 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        transition: .5s;
        overflow: hidden;
    }
    .geralBoxClaro {
        max-width: 374px;
        width: 80%;
        background-color: #8A716A;
        margin: 80px 10px 0 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        transition: .5s;
        overflow: hidden;
    }


.boxTitle {
        color: #C0E0DE;
        margin: 0 0 20px;
        transition: .5s;
    }
    .boxTitleClaro {
        color: #C2B8B2;
        margin: 0 0 20px;
        transition: .5s;
    }
    .link {
        text-decoration: none;
        color: #C0E0DE;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: .3s;
        display: flex;
        align-items: center;
        margin: 10px;
        white-space: nowrap;
        font-size: 1em;
    }
        .link:nth-child(2) {
            animation: flash 2s infinite alternate-reverse;
        }
        .link:nth-child(3) {
            animation: flash 2s infinite alternate-reverse 500ms;
        }
        .link:nth-child(4) {
            animation: flash 2s infinite alternate-reverse 1000ms;
        }
        .link:nth-child(5) {
            animation: flash 2s infinite alternate-reverse 1500ms;
        }
        .link:nth-child(6) {
            animation: flash 2s infinite alternate-reverse 2000ms;
        }
        .link:nth-child(7) {
            font-size: .9em;
            animation: flash 2s infinite alternate-reverse 2500ms;
        }
        .link:hover {
            color: lightskyblue;
            border-bottom: 1px solid lightskyblue;
        }
    .linkClaro {
        text-decoration: none;
        color: #C2B8B2;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: .3s;
        display: flex;
        align-items: center;
        margin: 10px;
        white-space: nowrap;
    }
        .linkClaro:nth-child(2) {
            animation: flash 2s infinite alternate-reverse;
        }
        .linkClaro:nth-child(3) {
            animation: flash 2s infinite alternate-reverse 500ms;
        }
        .linkClaro:nth-child(4) {
            animation: flash 2s infinite alternate-reverse 1000ms;
        }
        .linkClaro:nth-child(5) {
            animation: flash 2s infinite alternate-reverse 1500ms;
        }
        .linkClaro:nth-child(6) {
            animation: flash 2s infinite alternate-reverse 2000ms;
        }
        .linkClaro:nth-child(7) {
            font-size: .9em;
            animation: flash 2s infinite alternate-reverse 2500ms;
        }

        .linkClaro:hover {
            color: lightskyblue;
            border-bottom: 1px solid lightskyblue;
        }
        .instagramQR {
            max-width: 354px;
            width: 90%;
            align-self: center;
            margin-top: 20px;
            animation: jump 3s infinite alternate;
        }
        .LI-profile-badge {
            align-self: center;
            margin-top: 20px;
        }
            .LI-profile-badge * {
                border-radius: 5px;
            }
            .medium {
                border-radius: 10px !important;
            }
    .bodyAboutMe {
        color: #C0E0DE;
        margin: 10px;
        text-align: left;
        transition: .3s;
    }
    .bodyAboutMeClaro {
        color: #C2B8B2;
        margin: 10px;
        text-align: left;
        transition: .3s;
    }
        .mySkills {
            display: flex;
            align-items: center;
            color: #C0E0DE;
            transition: .3s;
            width: 200px;
            justify-content: space-between;
        }
        .mySkillsClaro {
            display: flex;
            align-items: center;
            color: #C2B8B2;
            transition: .3s;
            width: 200px;
            justify-content: space-between;
        }
.inferior {
    background: #3C474B !important;
    color: #c0e0de !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    transition: .5s !important;
}
.inferiorClaro {
    background: #8A716A !important;
    color: #C2B8B2 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    transition: .5s !important;
}
.inferiorTitle {
    display: flex !important;
    align-items: center !important;
    height: 50px !important;
    background: #3C474B !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    color: #c0e0de !important;
    justify-content: center !important;
}
.inferiorTitleClaro {
    display: flex !important;
    align-items: center !important;
    height: 50px !important;
    background: #8A716A !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    color: #C2B8B2 !important;
    justify-content: center !important;
}

@media (max-width: 280px) {
    .FrontEndIcons {
        height: 175px;
    }
    .myIcons {
        height: 250px;
    }
}

@media (max-width: 320px) {
    .myIcons {
        width: 77%;
        height: 200px;
    }
    .FrontEndIcons {
        height: 110px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .BackEndIcons {
        display: flex;
        width: 100%;
    }
}

@media (max-width: 1080px) {
    @keyframes flash {
        from {
            color: lightskyblue;
            border-bottom: 1px solid lightskyblue;
        }
        to {
            color: #C0E0DE;
            border-bottom: 1px solid transparent;
        }
    }
}
