.footer {
    width: 100%;
    background: #3C474B;
    height: 100px;
    transition: .5s;
}
.footerClaro {
    width: 100%;
    background: #8A716A;
    height: 100px;
    transition: .5s;
}
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #C0E0DE;
        transition: .3s;
    }
    .itemClaro {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #C2B8B2;
        transition: .3s;
    }
    .item:hover {
        color: lightskyblue;
    }

    .footerIn {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around
    }
