.footer {
    width: 100%;
    background: #3C474B;
    height: 100px;
}
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #C0E0DE;
        transition: .3s;
    }
    .item:hover {
        color: lightskyblue;
    }